{% load i18n my_filters %}
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row hot-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="/">
        {% trans 'Главная' %}
    </a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">
                    {% trans 'О нас' %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contacts' %}">
                    {% trans 'Контакты' %}
                </a>
            </li>
        </ul>
    </div>
</header>