{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Django Hotstart</title>

    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/bootstrap-4/bootstrap.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/typeahead.bundle.js' %}"></script>
    <script src="{% static 'js/hotstart.js' %}" type="application/javascript"></script>

    <link href="{% static 'css/bootstrap-4/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/hotstart.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>