{% extends 'base.html' %}
{% load my_filters i18n %}

{% block content %}
    {% show_navbar 'home' %}

    <h4>Django - сайт!</h4>
    <p>
        Чтобы узнать про Django подробнее перейдите на сайт
        <a href="https://tutorial.djangogirls.org/ru/">
            https://tutorial.djangogirls.org/ru/
        </a>
    </p>
    <p>
        <h4>Поиск по сайту</h4>
        <form method="get" action="{% url 'search' %}">
            <input type="text" name="keyword" placeholder="Введите слово">
            <input type="submit" value="Найти">
        </form>
    </p>
{% endblock %}